.Maindash {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .menu-button {
        display: none; // Hide by default
        position: absolute;
        top: 10px;
        left: 10px;
        background: none;
        border: none;
        cursor: pointer;
    }

    @media screen and (max-width: 1200px) {
        justify-content: flex-start;
        margin-top: 2rem;
    }

    @media screen and (max-width: 768px) {
        align-items: center;

        .menu-button {
            display: block; // Show button on smaller screens
            position: relative; // Center button without absolute positioning
            top: auto;
            left: auto;
        }
    }
}